*{
    margin: 0;
    padding: 0;
}

:root{
    --color-primary: #29b6f6;
    --color-primary-15: #29b6f626;
    --grey: #4e4e4e;
    --grey-80: #4e4e4ecc;
    --grey-90: #4e4e4ee6;
    --border-grey: #a3a3a326;
}

body{
    color: var(--grey);
}

a{
    color: inherit;        
    text-decoration: none;
}

li{
    list-style-type: none;
    text-align: center;
}

nav{
    display: inline-block;
}
